.w100{ width: 100%; }

.picture{
	width: 600px;
}

form{
	background: #fae8e8;
	padding: 60px;
	border-radius: 15px;
}

form input{
	padding: 5px 15px 5px 15px;
	font-size: 32px;
	text-align: center;
	border-radius: 15px;
	border: 0;
}

form input[type='submit']{
	background: #798BF2;
	color: white;
	transition: 0.3s;
}

form input[type='submit']:hover{
	background: white;
	color: #798BF2;
}